<p>
	<h2>Projects</h2> 
	The projects table shows you the projects you can access. Click on the name to reach the query page, or Show to view 
	project details, such as available samples and sample statistics. <br />
	The samples shows the samples that are part of the project. A green sample indicates, that the sample is ready to be 
	queried. Blue samples need to be annotated with a STATUS and TISSUE tag.
</p>

<p>
	<h2>Available Datasets</h2> 
	This shows a summary of the datasets you can access. The color coding helps to distinct the different elements.
</p>

<p>
	<h2>Navigation</h2> 
	Click on the elements in the navigatio menu to go to the overview of each ressource. You can access a single ressource 
	either from there or by following the sub menu.
</p>

<p>
	<h2>Your jobs</h2>
	Located on the bottom left of the sidebar you find a list of jobs that you submitted. Jobs are color coded by their state
	(DONE, ENQUEUED, RUNNING, FAILED) and can be access by following the link in the job list. 
</p>
