<h1>Help</h1>
<h2>SNuPy Wiki</h2>
This is only a short help page. Go to the <a href='http://getsnupy.bio.inf.h-brs.de'>SNuPyWiki</a> for detailed information.
	<%= image_tag asset_path("SampleAnnotationSchema.png"), style: "width: 100%;"%>

<div style="width: 600px;">
<p>
	<%= link_to "Home", '/'%>
	<%= link_to "Entitity Relation Diagram (developer)", '/erd.pdf'%>
	<%= link_to "RDoc (developer)", '/doc/index.html'%>
</p>
</div>
