$font-stack1: helvetica, verdana, arial, sans-serif;
$font-stack: "Lucida Console", Monaco, monospace;
$font-stack: 'Source Code Pro', monospace;
$font-stack: 'Roboto Mono', monospace;
$font-stack: 'Roboto Mono', helvetica, sans-serif;
$font-size: 0.85em;
$font-stack-heading: 'Roboto', helvetica, sans-serif;

$font-stack-navigation: 'Roboto', helvetica, sans-serif;
$font-size-navigation: 1em;

$font-stack-content: 'Roboto Mono', helvetica, sans-serif;



$mydarkgrey: #585858;
$mylightdarkgrey: #666;
$mydarkdarkgrey: #333;

$myblue: dodgerblue;
$mydarkblue: #166cbf;
$mylightblue: #8fc8ff;
$myblue: steelblue;
$primary-color: #333;

$mywhite: #f4f4f4;
$mywhite: gainsboro;
$mywhite: #efefef;

$appbackground: $mywhite;
$pagebackground: $mywhite; //#eeeeee;

$navigationwidth: 170px;
$navigationwidth: 14.0em;
